<section id="about">
    <div class="container-fluid">
        <h1 class="text-center text-primary mb-3">About Andela</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Partnership
                        </h3>
                        We recruit and manage technology talent so you can focus on building great products.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Developers
                        </h3>
                        Join a network of elite developers building the future across Africa
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Careers
                        </h3>
                        You have got the goods, Use them to change the world
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{> sections/join}}
        {{> sections/contact_us}}
</section>
