<ul class="info">
    <li class="info-item">
        {{> icons/map-marker}}
        <span class="text">Kampala Uganda</span>
    </li>
    <li class="info-item">
        {{> icons/envelope-o}}
        <span class="text">info-example.com</span>
    </li>
    <li class="info-item">
        {{> icons/phone}}
       <span class="text">+256-000-000-000</span>
    </li>
</ul>
