<div id="join">
    <div class="container">
        <h3>Join The Revolution</h3>
        <div class="contents">
            <p>
                Andela invests in Africa's most talented developers and integrates them into the world's best tech companies
            </p>
            <div>
                <button class="btn">
                    Join Andela
                </button>
            </div>
        </div>
    </div>
</div>
