<section id="welcome_page" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/Andela-logo-landscape-blue-400px.png" alt="" class="logo">

                <h1>Dream of using technology to change the world?</h1>
                <p>
                    Join the Andela Movement
                </p>
                <div>
                   <a class="btn" href="#about">
                       Getting Started
                   </a> 
               </div>

           </div>
       </div>
   </div>
</section>
